<% content_for :header_tags do%>
  <%= stylesheet_link_tag('redmine_sidebar_toc.css', :plugin => :redmine_sidebar_toc_pt) %>
<%end%>

<div class="sidebar_toc">

<h3>Project tree</h3>
<%
prjs = Array.new

#Collect parents
@parent = @project.parent
while !@parent.nil?
	prjs.push( link_to @parent, {:project_id => @parent, :controller => 'wiki', :action => 'show', :id => ''} )
	@parent = @parent.parent
end
prjs.reverse!

#Collect current/subs
@subprojects = @project.children.visible.all
if @subprojects.any?
	prjs.push(@project.name)
	s = @subprojects
else
	s = @project.parent.children.visible.all
end

sb = s.collect{ |p|
if p != @project
	link_to p, {:project_id => p, :controller => 'wiki', :action => 'show', :id => ''}, :title => p
else
	p
end
}.join("").html_safe

prjs.push(sb)
%>

<%
#Printout
i=0
for p in prjs
%>
<div style="margin-left:<%= i %>px;">
	<%i = i + 10%>
	<%= p %>
</div>
<% end %>



<% unless @content.nil?  %>
  <h3>Сontents</h3>
  <% nodes =  Nokogiri::HTML(textilizable(@content, :text)).xpath('//h1|//h2|//h3|//h4|//h5|//h6') %>
  <% link_href = Nokogiri::HTML(textilizable(@content, :text)).xpath('//a[@name]/@name') %>

  <% nodes.each_with_index do |node,i|%>
    <%= "<a href=\"##{link_href[i]}\" style=\"margin-left:#{nodes[i].name.delete("h").to_i*10}px;\" title=\"#{node.text.delete "¶"}\">#{node.text.delete "¶"}</a>".html_safe %>
    <%end%>
<% end %>

<% if @wiki && @wiki.sidebar -%>
  <%= textilizable @wiki.sidebar.content, :text %>
<% end -%>

<h3><%= l(:label_wiki) %></h3>
<%= link_to l(:field_start_page), {:action => 'show', :id => nil}, :title => l(:field_start_page) %>
<%= link_to l(:label_index_by_title), {:action => 'index'}, :title => l(:label_index_by_title) %>
<%= link_to l(:label_index_by_date), {:controller => 'wiki', :project_id => @project, :action => 'date_index'}, :title => l(:label_index_by_date) %>

</div>
